In [ ]:
# arithmetic
# comparison
# assignment
# today logical operator

In [ ]:
x=10
x>=10 and x>5
# and => true when all condition are true

True

In [ ]:
x=10
x>=40 or x>50
# or => true=> when any condition are true

False

In [ ]:
# membership operator
"a" in "krishna"

True

In [ ]:
"A" in "krishna"

False

In [ ]:
"A" not in "krishna"

True

In [ ]:
"z" not in "krishna"

True

In [ ]:
# identity operator
# to check variable certain belong datatype
# datatype => ckasses mai defined
x=10
type(x) is int

True

In [ ]:
x=10
type(x) is float

False

In [ ]:
x=10
type(x) is not int

False

In [ ]:
x=10
type(x) is not float

True

In [ ]:
# conditional statement
print("hello")

hello

In [ ]:
if(True):
  print("hlo")

hlo

In [ ]:
if(False):
  print("hlo")

In [ ]:
x=10
y=2
if(x>y):
  x=10-7
  y<x
  print("yes")
else:
  print("no")

yes

In [ ]:
if(True):
  print("hlo")
else:
  print("condition is false")

hlo

In [ ]:
if(False):
  print("hlo")
else:
  print("condition is false")

condition is false

In [ ]:
age=18
if(age>=18):
  print("age is 18")
else:
  print("condition is false")

age is 18

In [ ]:
# to find even number
# %
x=5
if(x %2==0):
  print("even")
else:
  print("odd")

odd

In [ ]:
x=5
if(x==1):
  print("x is 1")
else:
  print("condition is false")

condition is false

In [ ]:
x=3
if(x==1):
  print("x is 1")
elif(x==2):
  print("x is 2")
else:
  print("condition is false")

condition is false

In [ ]:
x=2
if(x==1):
  print("x is 1")
elif(x==2):
  print("x is 2")
else:
  print("condition is false")

x is 2

In [ ]:
x=1
if(x==1 or x==2):
  print("hey")
else:
  print("condition is false")

hey

In [ ]:
# take 3 variable minimum value print
x=5
y=6
z=19
if(x <= y and x <= z):
  print("minmum value",x)
elif (y <= x and y <= z):
    print("Minimum value",y)
else:
  print("Minimum value",z)

minmum value 5

In [ ]:
# if take a number 2 or 5 print divison by 10 and divison by 2 print divison by 2 and number divison by 5 print divison by 5
x=2
y=5
if(x and y / 10):
  print("divison by 10")
elif(x and y / 2):
    print("divison by 2")
else:
    print("divison by 5")

divison by 10

In [ ]:
x = 4
y = 5

if (x % 10 == 0 or y % 10 == 0):
    print("Division by 10")
elif (x % 2 == 0 or y % 2 == 0):
    print("Division by 2")
elif (x % 5 == 0 or y % 5 == 0):
    print("Division by 5")
else:
    print("not division anyone")

Division by 2

In [ ]:
age = 20

if age == 10:
    print("Child")
elif age > 10 and age < 30:
    print("Young")
elif age == 30:
    print("adult")
elif age > 30:
    print("Senior Citizen")
else:
    print("Invalid")

Young